
Будет удалено .idea/dictionaries/
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/project_tango.iml
Будет удалено .idea/workspace.xml
Будет удалено log/


