<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}Tango with django{% endblock title %}</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
            {% endblock sidebar %}
        </div>

        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
